.w-content {
    width: fit-content;
}

.cc {
    padding-left: 20px;
    background-image: url("assets/img/cc.svg");
    background-size: 12px 12px;
    background-position: 0 2px;
    background-repeat: no-repeat;
}

em {
    font-style: normal;
    font-family: "DOSV";
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    opacity: 50%;
}

h1 a {
    text-decoration: none;
}

h2 a {
    text-decoration: none;
}

h3 a {
    text-decoration: none;
}

h1 a:hover::after {
    padding-left: 0.25em;
    content: "#";
}

h2 a:hover::after {
    padding-left: 0.25em;
    content: "#";
}

h3 a:hover::after {
    padding-left: 0.25em;
    content: "#";
}

.progressbar {
    width: 100%;
    border: 1px solid black;
}

.progress {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 1em;
    width: calc(10%);
    height: 1em;
    margin: 1px;
}